@import url('https://fonts.googleapis.com/css2?family=Urbanist:wght@400;700&display=swap');

body {
  font-size: 1.1vw;
  font-family: Urbanist, sans-serif;
  line-height: 1.5;
  margin: 0px;
  padding: 0px;
  background-color: #f7f7f7;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: rgb(42, 72, 97);
  color: #f7f7f7;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;
}

li {
  display: inline-block;
  margin-left: 8px;
  margin-right: 8px;
  vertical-align: middle;
}

li a, .drpbtn {
  display: inline-block;
  color:#f7f7f7;
  text-align: center;
  text-decoration: none;
}

li a:hover, .dropdown:hover .drpbtn {
  background-color: rgb(42, 72, 97);
}

li.dropdown {
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  justify-self: center;
  background-color: rgb(42, 72, 97);
  min-width: 80px;
  z-index: 1;
    a {
      color: black;
      padding: 12px 16px;
      text-decoration: none;
      margin: auto;
      display: block;
      text-align: left;
      color: #f7f7f7;
    }
    a:hover {
      background-color: #4481AD;
    }  
}

.dropdown:hover .dropdown-content {
  display: block;
}

#name {
  margin-left: 25px;
}

#login {
  transform: translateY(100%);
  margin-right: 50px;
}

#main {
  width: 100%;
  background-image: url(../Images/splash.jpeg);
  background-size: contain;
  background-repeat: no-repeat;
  background-attachment: scroll;
  overflow: visible;
  color: #f7f7f7;
  transform: translateY(5.25%);
  padding-bottom: 14vh;
}

#splash-copy {
  display: flex;
  width: 12.5%;
  padding-left: 7.5%;
  flex-direction: column;
  transform: translateY(5%);
  text-align: left;
    p {
      font-size: 1.8vw;
    }
    h1 {
      font-size: 4vw;
      font-weight: 700;
      line-height: 1;
      transform: translateY(-10%);
    }
}

#main-copy {
  width: 75%;
  color: black;
  padding-top: 8vh;
  position: relative;
  margin: auto;
  text-align: center;
    h2 {
      margin-bottom: 8vh;
    }
}

#copy-boxes {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
    span {
      font-size: 2.5vw;
    }
    .fontawesome {
      font-size: 2.5vw;
    }
}

.copy-columns {
  width: 25%;
  padding-left: 5%;
  padding-right: 5%;
}

#sliders {
  padding-bottom: 5vh;
  background-color: #4481AD;
  color: #f7f7f7;
    h1 {
      font-size: 2vw;
      text-align: center;
      padding-top: 4vh;
    }
}

#slide-boxes {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.slider {
  position: relative;
  width: 20vw;
  margin: 2vw;
  justify-content: center;
  text-align: center;
    h3 {
      background-color: rgb(42, 72, 97);
      padding-top: 1vh;
      padding-bottom: 1vh;
      padding-left: 1vw;
      padding-right: 1vw;
    }
    img {
      width: 20vw;
      border: 0.35vw solid rgb(42, 72, 97)
    }
    button {
      background-color: rgb(42, 72, 97);
      border: none;
      padding-top: 0.75vh;
      padding-bottom: 0.75vh;
      padding-left: 0.75vw;
      padding-right: 0.75vw;
    }
    a {
      color:#f7f7f7;
      text-decoration: none;
    }
}

.slider:hover {
  transform: scale(1.3);
  transition-duration: 1s;
}

.centered {
  position: absolute;
  top: 25%;
  left: 35%;
}

footer {
  color: #f7f7f7;
  background-color: rgb(42, 72, 97);
}